<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me Profile card || Shanti Mishra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
</head>
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709769600&semt=sph');
    background-size: cover;
    background-repeat: no-repeat;
    }

    .navbar {
        background-color: #B3CEE5 !important; /* Background color for the navbar */
    }

    .navbar-nav li a:hover {
        color: #007bff; /* Blue color for the navbar links on hover */
    }
    .dropdown-menu {
    background-color: #B3CEE5;
    }
</style>
<body>
    <!-----NavigationBar----->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index4.html"><img src="https://i.postimg.cc/05T0QnGV/logo-blue.jpg" alt="Elderly Companion System"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index4.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about_me.html">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SOS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DROPDOWN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Add Appointment</a>
                            <a class="dropdown-item" href="#">Add Medication</a>
                            <a class="dropdown-item" href="#">Calendar</a>
                            <a class="dropdown-item" href="#">Journal</a>
                            <a class="dropdown-item" href="photo.html">Photo Gallery</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    
    <div class="about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>
                    <div class="shadow">
                        <div class="about-img">
                            <img src="https://cdn-icons-png.freepik.com/512/6962/6962129.png" alt="about image">
                        </div>
                    </div>
                    <h2>Shanti Mishra</h2>
                    <h3>Retired Web Developer</h3>
                    <div style="font-size: 1.5rem;">
                        <div><i class="far fa-calendar-days" style="font-size: 1.2rem; margin-top: 2px;"></i> Date of Birth: 24/03/1964 </div>
                        <div><i class="fas fa-house-user" style="font-size: 1.2rem; margin-top: 2px;"></i> Address: Shivajinagar, Pune </div>
                        <div><i class="fas fa-phone" style="font-size: 1.2rem; margin-top: 2px;"></i> Contact info: +91 123456789 </div>
                        <div><i class="far fa-envelope" style="font-size: 1.2rem; margin-top: 2px;"></i> Email id: shanti.mishra@gmail.com </div>
                        <div><i class="fas fa-heart" style="font-size: 1.2rem; margin-top: 2px;"></i> Hobbies: Knitting, Reading, Music, Movies </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <footer>
        <p>&copy; 2024 Sample Website</p>
    </footer>
</body>
</html>
